.applet-container {
    margin-top: 1rem;
    margin-left: 0;
    width: 85rem;  /* Set fixed width of 50rem */
    height: 40rem; /* Set fixed height of 20rem */
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

#applet-container1 {
    width: 40%;  /* Set fixed width of 40% for applet menu */
    height: 100%;  /* Ensure it fills the container's height */
    background-color: #f4f4f4;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;  /* Make applet container scrollable vertically */
    flex-shrink: 0;  /* Prevent shrinking of the applet container */
}

#map {
    height: 100%;  /* Ensure map takes full height of the container */
    width: 60%;  /* Set width of the map to 60% */
    background-color: lightblue;
    flex-grow: 1;  /* Allow map to take the remaining space */
}

.applet-flex-container {
    display: flex;
    flex-direction: column;  /* Ensure vertical stacking of items */
    justify-content: flex-start;  /* Align items to the top */
    align-items: flex-start;  /* Align items to the left */
    flex-wrap: nowrap;  /* Prevent wrapping of the flex items */
    height: 100%;
    overflow-y: auto;  /* Allow vertical scrolling */
    overflow-x: hidden;  /* Prevent horizontal scrolling */
}

.title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.applet-icon {
    height: 8rem;
    width: 8rem;
    margin-bottom: 1rem;
}