.applet-container {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

#applet-container1 {
    width: 20%;
    height: 350px;
    background-color: #f4f4f4;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

#map {
    height: 400px;
    width: 80%;
    flex: 1;
    background-color: lightblue;
}

.applet-flex-container {
    display: flex;
    flex-direction: column;  /* Ensure vertical stacking */
    justify-content: flex-start;  /* Align items to the top */
    align-items: flex-start;  /* Align items to the left */
    flex-wrap: nowrap;  /* Prevent wrapping of the flex items */
    height: 100%;
    overflow-y: auto;  /* Only allow vertical scrolling */
    overflow-x: hidden;  /* Prevent horizontal scrolling */
}

.applet-card {
    width: 100%;  /* Ensure cards take full width */
    height: auto;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ccc;
}

.applet-icon {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem;
    text-align: center;
    max-height: 100%;
}

.description {
    overflow: auto;
    max-height: 10rem;
    text-overflow: ellipsis;
}